.cell {
    height: 20px;
    width: 17px;
    border: 1.6px solid white;
    background: #444444;
}

#cell-0-0 {
    background: red;
}

#cell-24-24 {
    background: blue;
}

.visited-true {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    margin: auto auto;
    background: white;
}

.path-true {
    background: green !important;
}

.right-false {
    border-right-color: #444444 !important;
}

.left-false {
    border-left-color: #444444 !important;
}

.top-false {
    border-top-color: #444444 !important;
}

.bottom-false {
    border-bottom-color: #444444 !important;
}

@media only screen and (max-width: 900px) {
    .cell {
        height: 17px;
        width: 10px;
    }
}
