.grid {
    height: 600px;
    width: 600px;
    margin: 10px auto;
    outline: 3px solid black;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.grid-row {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .grid {
        width: 90vw;
    }
}

@media only screen and (max-width: 500px) {
    .grid {
        height: 500px;
    }
}
