.node {
    height: 20px;
    width: 17px;
    border: 1.6px solid white;
    background: #444444;
}

#node-0-0 {
    background: red !important;
}

#node-24-24 {
    background: blue !important;
}

.visited-true {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    margin: auto auto;
    background: skyblue;
}

@media only screen and (max-width: 900px) {
    .node {
        height: 15px;
        width: 10px;
    }
}
