.navbar {
    margin-bottom: 25px !important;
    padding: 0 25px 0 25px !important;
    height: 10vh;
    background: #05386b;
}

.navbar button {
    background: transparent;
    height: 40px;
    width: 120px;
    border: 3px solid white;
    padding: 0 !important;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.navbar button:hover {
    color: blueviolet;
    border-color: blueviolet;
    transition: all 0.4s ease-in;
}

.navbar button:focus {
    border-color: black;
    color: black;
}

.navbar button:disabled {
    opacity: 0.55;
    cursor: not-allowed;
}

#dropdown {
    width: 120px !important;
    border: 3px solid white;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px !important;
    color: white !important;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

#dropdown:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
}

.dropdown-item {
    font-weight: bold !important;
    background: transparent;
}

@media only screen and (max-width: 800px) {
    .navbar {
        margin-bottom: 0 !important;
        height: 20vh !important;
    }

    .navbar button {
        font-size: 12px;
        margin: 0 5px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        margin-bottom: 0 !important;
        height: 25vh !important;
    }

    .navbar button {
        margin: 5px 0 5px 0 !important;
    }
}
